{% extends "FrontOfficeBundle:Layout:layout-page.html.twig" %}
{% block titrePage %}
    {{ matchs[0].equipeDomicile.nom }} VS {{ matchs[0].equipeExterieur.nom }}
{% endblock %}
{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="resume-match col-md-12">
                    <div class="row">
                        <div class="header-equipe col-md-4">
                            <img src="{{ asset(matchs[0].equipeDomicile.blason) }}" height="215px" width="169px">
                            <p>{{ matchs[0].equipeDomicile.nom }}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="resume-match-stade">Stade : {{ matchs[0].equipeDomicile.stade }}</p>
                            {% if matchs[0].scoreDomicile == null or matchs[0].scoreExterieur == null %}
                                <p class="resume-match-etat">à venir</p>
                            {% else %}
                                <p class="resume-match-etat">Terminé</p>
                            {% endif %}

                            <p class="resume-match-date">{{ matchs[0].date|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") |capitalize }}</p>

                            {% if matchs[0].scoreDomicile == null or matchs[0].scoreExterieur == null %}
                                <p class="resume-match-info">{{ matchs[0].date|date("H:i") }}</p>
                            {% else %}
                                <p class="resume-match-info">{{ matchs[0].scoreDomicile }}-{{ matchs[0].scoreExterieur }}</p>
                            {% endif %}
                            <div class="resume-match-diffuseurs">
                                {% if matchs[0].diffuseur.logo != null %}
                                    <img src="{{ asset(matchs[0].diffuseur.logo) }}">
                                {% endif %}
                            </div>
                            <a href="#"><span class="btn-header-detail btn-reserver">Réserver</span></a>
                        </div>
                        <div class="header-equipe col-md-4">
                            <img src="{{ asset(matchs[0].equipeExterieur.blason) }}" height="217px" width="217px">
                            <p>{{ matchs[0].equipeExterieur.nom }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}