{% extends "BackOfficeBundle:Layout:layout.html.twig" %}
{% block body %}
    <div class="container-fluid">
    <div class="row">
    <div class="sidebar-left col-md-3 ">
        {% include "BackOfficeBundle:Layout:menu.html.twig" %}
    </div>
    <div class="sidebar-right col-md-9 no-padding">
        {% include "BackOfficeBundle:Layout:header.html.twig" %}
    </div>
    <!-- Contenu -->
    <div class="col-md-9">
        <div class="content">
            <div class="row">
                <div class="box col-md-7 margin-15 no-padding">
                    <h1>Ajouter un diffuseur</h1>
                    <form method="post" enctype="multipart/form-data">
                        <p>
                            {{ form_start(form) }}
                            {{ form_row(form.nom) }}
                            {{ form_row(form.file_upload_logo_diffuseur) }}
                        </p>
                        <footer>
                            {{ form_row(form.annuler, { 'label': 'Annuler' }) }}
                            {{ form_row(form.ajouter, { 'label': 'Ajouter' }) }}
                        </footer>
                        {{ form_end(form) }}
                    </form>
                </div>

                <div class="box draw meet-blue col-md-7 margin-15 no-padding">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Blason</th>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for diffuseur in diffuseurs %}
                            <tr>
                                <td><img src="{{ asset(diffuseur.logo) }}" height="40px"></td>
                                <td>{{ diffuseur.nom }}</td>
                                <td><a href="#"><img src="{{ asset('css/icon/icon-backend-edit.png') }}" height="30px" width="30px"></a>
                                    <a href="#"><img src="{{ asset('css/icon/icon-backend-supprimer.png') }}" height="30px" width="30px"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}