{% extends "BackOfficeBundle:Layout:layout.html.twig" %}
{% block body %}
    <div class="container-fluid">
    <div class="row">
    <div class="sidebar-left col-md-3 ">
        {% include "BackOfficeBundle:Layout:menu.html.twig" %}
    </div>
    <div class="sidebar-right col-md-9 no-padding">
        {% include "BackOfficeBundle:Layout:header.html.twig" %}
    </div>
    <!-- Contenu -->
    <div class="col-md-9">
        <div class="content">
            <div class="row">
                <div class="box col-md-7 margin-15 no-padding">
                    <h1>Ajouter une équipe</h1>
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <h2 style="color:green;">{{ flashMessage }}</h2>
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form_start(form) }}
                        <p>{{ form_row(form.nom) }}</p>
                        <p>{{ form_row(form.stade) }}</p>
                        <p>{{ form_row(form.file_upload_image) }}</p>
                        {{ form_widget(form._token) }}

                        <footer>
                            {{ form_row(form.annuler, {'label':'Annuler'}) }}
                            {{ form_row(form.ajouter, {'label':'Ajouter'}) }}
                        </footer>
                        {{ form_end(form) }}
                    </form>
                </div>

                <div class="box draw meet-blue col-md-7 margin-15 no-padding">
                    <h1>Liste des équipes du TOP 14</h1>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Blason</th>
                            <th>Nom</th>
                            <th>Stade</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lesEquipesDuTop14 in listeEquipesTop14 %}
                        <tr>
                            <td><img src="{{ asset(lesEquipesDuTop14.blason) }}" height="40px"></td>
                            <td>{{ lesEquipesDuTop14.nom }}</td>
                            <td>{{ lesEquipesDuTop14.stade }}</td>
                            <td><a href="#"><img src="{{ asset('css/icon/icon-backend-edit.png') }}" height="30px" width="30px"></a>
                                <a href="#"><img src="{{ asset('css/icon/icon-backend-supprimer.png') }}" height="30px" width="30px"></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}