{% extends "FrontOfficeBundle:Layout:layout-page.html.twig" %}
{% block titrePage %}
    Effectif Stade Rochelais
{% endblock %}
{% block body %}
    <section class="content">
        <section class="header-effectif">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-1 col-centered">

                        <div class="effectif-name  {% if(positionMenu=="tout") %}is-active{% endif %}">
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params'))}}">Tous</a>
                        </div>
                        {% for laPosition in listePosition %}
                            {% if(laPosition.numero == 2) %}
                        <div class="effectif-name {% if(positionMenu==laPosition.numero) %}is-active{% endif %}">
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')) ~ '?p=' ~  laPosition.numero}}">Talonneur</a>
                        </div>
                            {% endif %}
                            {% if(laPosition.numero == 3 ) %}
                        <div class="effectif-name {% if(positionMenu==laPosition.numero) %}is-active{% endif %}">
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')) ~ '?p=' ~  laPosition.numero}}">Pilier</a>
                        </div>
                            {% endif %}
                        {% if(laPosition.numero == 4 ) %}
                            <div class="effectif-name {% if(positionMenu==laPosition.numero) %}is-active{% endif %}">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')) ~ '?p=' ~  laPosition.numero}}">2e ligne</a>
                            </div>
                        {% endif %}
                        {% if(laPosition.numero == 6 ) %}
                            <div class="effectif-name {% if(positionMenu==laPosition.numero) %}is-active{% endif %}">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')) ~ '?p=' ~  laPosition.numero}}">3e ligne</a>
                            </div>
                        {% endif %}
                        {% if(laPosition.numero == 9 ) %}
                            <div class="effectif-name {% if(positionMenu==laPosition.numero) %}is-active{% endif %}">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')) ~ '?p=' ~  laPosition.numero}}">Demi mêlée</a>
                            </div>
                        {% endif %}
                        {% if(laPosition.numero == 10 ) %}
                            <div class="effectif-name {% if(positionMenu==laPosition.numero) %}is-active{% endif %}">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')) ~ '?p=' ~  laPosition.numero}}">Ouvreur</a>
                            </div>
                        {% endif %}
                        {% if(laPosition.numero == 12 ) %}
                            <div class="effectif-name {% if(positionMenu==laPosition.numero) %}is-active{% endif %}">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')) ~ '?p=' ~  laPosition.numero}}">Centre</a>
                            </div>
                        {% endif %}
                        {% if(laPosition.numero == 11 ) %}
                            <div class="effectif-name {% if(positionMenu==laPosition.numero) %}is-active{% endif %}">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')) ~ '?p=' ~  laPosition.numero}}">Ailier</a>
                            </div>
                        {% endif %}
                        {% if(laPosition.numero == 15 ) %}
                            <div class="effectif-name {% if(positionMenu==laPosition.numero) %}is-active{% endif %}">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')) ~ '?p=' ~  laPosition.numero}}">Arrière</a>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section class="content-joueur">
            <div class="container">
                {% for leJoueur in listeJoueurs %}
                <div class="col-md-3">
                    <div class="block-joueur">
                        <header>
                            <h2>{{ leJoueur.nomprenom }}</h2>
                        </header>
                        <img class="ombrage" src="{{ asset(leJoueur.photo) }}">
                        <p><strong>Age : </strong>{{ leJoueur.age }} ans
                            <strong>Poids : </strong>{{ leJoueur.poids }}kg
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </section>

{% endblock %}

{% block javascripts %}
{% endblock %}


